{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Tory Burch女士精品系列上新-Tory Burch官网-Tory Burch折扣—尽在魅力惠官网</title>
		<link rel="icon" href="{% static 'img/love.png' %}" type="image/x-icon">
		<link rel="stylesheet" href="{% static 'css/header-footer.css' %}" />
		<link rel="stylesheet" href="{% static 'css/goods.css' %}" />
{#		<script type="text/javascript" src="{% static 'js/jquery-1.12.3.js' %}" ></script>#}
{#		<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}" ></script>#}
{#		<script type="text/javascript" src="{% static 'js/header-footer.js' %}" ></script>#}
{#		<script type="text/javascript" src="{% static 'js/good.js' %}" ></script>#}

	</head>
	<body>
        <div class="login">
			<div class="header">
				<ul class="header_left">
					<li><img src="{% static 'img/zhuceyouli.gif' %}"><a href="{% url 'mei:register' %}">注册有礼</a></li>
					<li>|</li>
					<li><a href="{% url 'mei:login' %}">登录</a></li>
					<li>|</li>
					<li><a href="{% url 'mei:login' %}">收藏</a></li>
				</ul>
				<ul class="header_right">
					<li><a href="#">在线咨询</a></li>
					<li>|</li>
					<li style="position: relative;">
						<a href="http://www.mei.com/mobile">手机版</a>
						<div class="download">
							<img src="{% static 'img/side_middle1.png' %}">
							<p>扫码下载APP</p>
						</div>
					</li>
					<li>|</li>
					<li><a href="http://weibo.com/glamoursaleschina?spm=a2o1p.8183483.0.0.fQlt7u"></a></li>
				</ul>
			</div>
		</div>
		<div class="logo">
			<a href="{% url 'mei:index' %}"></a>
			<a href="{% url 'mei:index' %}"></a>
		</div>
		<div class="nav">
			<div class="list">
				<ul class="list_left">
					<li><a href="#">首页</a></li>
					<li>
						<a href="#" style="color: red;">女士</a>
						<div class="smallnav">
							<div class="smallnav_left">
								<h4>热门活动</h4>
								<ul>
									<li><a href="#">买手精选 设计师连衣裙专场</a></li>
									<li><a href="#">买手精选 设计师品牌服装</a></li>
									<li><a href="#">买手精选 设计师包袋配饰</a></li>
									<li><a href="#">上海时装周 设计师品牌专场（满减）</a></li>
									<li><a href="#">上海时装周 JANE EYRE专场（满减）</a></li>
									<li><a href="#">LACOSTE 女鞋</a></li>
									<li><a href="#">RUCOLINE 意式休闲时尚女鞋</a></li>
									<li><a href="#">MO&amp;Co. 90S极简时髦女装</a></li>
								</ul>
								<p><a href="#" class="look">查看所有活动</a></p>
							</div>
							<div class="smallnav_right">
								<h4>商品分类</h4>
								<ul>
									<li><a href="#">配饰</a></li>
									<li><a href="#">服装</a></li>
									<li><a href="#">鞋履</a></li>
									<li><a href="#">包袋</a></li>
									<li><a href="#">手表&amp;首饰</a></li>
									<li><a href="#">眼镜</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="#">男士</a>
						<div class="smallnav">
							<div class="smallnav_left">
								<h4>热门活动</h4>
								<ul>
									<li><a href="#">LACOSTE 男鞋</a></li>
									<li><a href="#">奢华男士 多品牌鞋履配饰</a></li>
									<li><a href="#">INITIAL  轻剪裁男装及配饰</a></li>
									<li><a href="#">VIKTOR &amp; ROLF 剑走偏锋的时尚艺术男士</a></li>
									<li><a href="#">COSTUME N COSTUME 简洁精致男士</a></li>
									<li><a href="#">SKECHERS 男鞋</a></li>
									<li><a href="#">LOTTUSSE 匠心工艺 典藏男士鞋包</a></li>
									<li><a href="#">PAUL&amp; SHARK  闲适优雅 格调男装</a></li>
								</ul>
								<p><a href="#" class="look">查看所有活动</a></p>
							</div>
							<div class="smallnav_right">
								<h4>商品分类</h4>
								<ul>
									<li><a href="#">配饰</a></li>
									<li><a href="#">鞋履</a></li>
									<li><a href="#">服装</a></li>
									<li><a href="#">眼镜</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="#">美妆</a>
						<div class="smallnav">
							<div class="smallnav_left">
								<h4>热门活动</h4>
								<ul>
									<li><a href="#">FRESH 馥蕾诗护肤品专场</a></li>
									<li><a href="#">ALBION 澳尔滨护肤品专场</a></li>
									<li><a href="#">CLE DE PEAU BEAUTE 肌肤之钥高端护肤彩妆</a></li>
									<li><a href="#">The HISTORY OF WHOO 韩国宫廷护肤</a></li>
									<li><a href="#">ELIZABETH ARDEN 雅顿畅销护肤品</a></li>
									<li><a href="#">SK-II 日本殿堂级护肤品</a></li>
									<li><a href="#">REFA 风靡日本美容神器</a></li>
									<li><a href="#">秋季滋补佳品 保健品专场</a></li>
								</ul>
								<p><a href="#" class="look">查看所有活动</a></p>
							</div>
							<div class="smallnav_right">
								<h4>商品分类</h4>
								<ul>
									<li><a href="#">护肤</a></li>
									<li><a href="#">彩妆</a></li>
									<li><a href="#">美体</a></li>
									<li><a href="#">美发</a></li>
									<li><a href="#">男士</a></li>
									<li><a href="#">香氛</a></li>
									<li><a href="#">保健</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="#">家居</a>
						<div class="smallnav">
							<div class="smallnav_left">
								<h4>热门活动</h4>
								<ul>
									<li><a href="#">职场温馨小物件 专场</a></li>
									<li><a href="#">DOWNIA 澳洲家居&amp;地毯(满减)</a></li>
									<li><a href="#">中秋佳节 床品特辑</a></li>
									<li><a href="#">利快 创意家居</a></li>
									<li><a href="#">LAYTEX &amp; TOM KATE 泰国乳胶枕</a></li>
									<li><a href="#">德式 厨房</a></li>
									<li><a href="#">热卖 小家电</a></li>
									<li><a href="#">THERMOS 膳魔师专场</a></li>
								</ul>
								<p><a href="#" class="look">查看所有活动</a></p>
							</div>
							<div class="smallnav_right">
								<h4>商品分类</h4>
								<ul>
									<li><a href="#">摆件</a></li>
									<li><a href="#">厨具</a></li>
									<li><a href="#">卫浴</a></li>
									<li><a href="#">家电</a></li>
									<li><a href="#">床品</a></li>
									<li><a href="#">办公&amp;礼品</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="#">婴童</a>
						<div class="smallnav">
							<div class="smallnav_left">
								<h4>热门活动</h4>
								<ul>
									<li><a href="#">REIMA  芬兰功能性童装专场</a></li>
									<li><a href="#">REIMA  芬兰功能性鞋靴配饰专场</a></li>
									<li><a href="#">欢乐周末 玩伴专场</a></li>
									<li><a href="#">BIBI  巴西进口女童专场</a></li>
									<li><a href="#">BIBI  巴西进口男童专场</a></li>
									<li><a href="#">全球大搜罗  母婴尖货场</a></li>
									<li><a href="#"> HAO  日本潮牌童装女童专场</a></li>
									<li><a href="#">HAO  日本潮牌童装男童专场</a></li>
								</ul>
								<p><a href="#" class="look">查看所有活动</a></p>
							</div>
							<div class="smallnav_right">
								<h4>商品分类</h4>
								<ul>
									<li><a href="#">服装</a></li>
									<li><a href="#">鞋履</a></li>
									<li><a href="#">其他</a></li>
									<li><a href="#">配饰</a></li>
									<li><a href="#">玩具</a></li>
									<li><a href="#">母婴</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="#">老佛爷奥莱</a>
						<div class="smallnav" style="width: 315px;">
							<div class="smallnav_left">
								<h4>热门活动</h4>
								<ul>
									<li><a href="#">老佛爷百货 女士裙装 夏日大降价</a></li>
									<li><a href="#">老佛爷百货  女士上装 夏日大降价</a></li>
									<li><a href="#">老佛爷百货  女士裤装 夏日大降价</a></li>
									<li><a href="#">老佛爷百货  女士鞋履 夏日大降价</a></li>
									<li><a href="#">老佛爷百货  女士包袋配饰夏日大降价</a></li>
									<li><a href="#">老佛爷百货 男士上装 夏日大降价</a></li>
									<li><a href="#">老佛爷百货 男士下装 夏日大降价</a></li>
									<li><a href="#">老佛爷百货 男士鞋履 夏日大降价</a></li>
								</ul>
								<p><a href="#" class="look">查看所有活动</a></p>
							</div>
						</div>
					</li>
					<li><a href="#">即将推出</a></li>
				</ul>
				<ul class="list_right">
					<li><a href="{% url 'mei:cart' %}" target="_blank" class="sum">0</a></li>
					<li>|</li>
					<li><a href="{% url 'mei:cart' %}" target="_blank">￥0.00</a></li>
                    <div class="shopping">
                        <div class="no_shopping">
                            <p>购物袋暂无商品</p>
                        </div>
                        <a href="#"></a>
                    </div>
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="content_header">
				<ul>
					<li><a href="{% url 'mei:index' %}">首页</a></li>
					<li><span>&gt;</span><a href="{% url 'mei:index' %}">女士</a></li>
					<li><span>&gt;</span>TORY BURCH</li>
				</ul>
				<div class="countdown">
					<span class="timer">0天0小时0分0秒</span>
					<span class="countdown_word">活动剩余</span>
				</div>
			</div>
			<div class="title">
				<h2>TORY BURCH&nbsp;&nbsp;&nbsp;&nbsp;女士精品系列上新&nbsp;&nbsp;&nbsp;&nbsp;<span>2<span class="sale">折起</span></span></h2>
				<span class="collect"><span>+</span>收藏品牌</span>
			</div>
			<div class="story">
				<div class="background">
					<div class="story_content">
						<p class="gift">满688元全场免运（跨境商品除外）</p>
						<div class="brand_story">
							<h5>品牌故事</h5>
							<p>Tory Burch成立于2004 年2月，它是一个实际可行的时尚生活方式品牌，源于经典的美国运动时装风格，充满无拘无束的活力与感觉，其共混永恒的，经典的设计元素与现代时尚的感情。汤丽柏琦（Tory Burch）是一个实际可行的时尚生活方式品牌，源于经典的美国运动时装风格，充满无拘无束的活力与感觉，充分体现了行政总裁Tory Burch的个人风格和精神。她独具慧眼，将设计师的审美观与价值观在市场上取得平衡，创作出时尚又适合所有年龄女性穿着的时装与配饰。<a href="#">更多</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="choose">
				<span>已选条件：</span>
				<ul>
					<li>种类：平底鞋</li>
					<li>种类：手提包</li>
					<li>种类：运动户外</li>
					<li>种类：钱包/小型配件</li>
					<li>种类：靴子</li>
				</ul>
				<b>清空筛选条件</b>
			</div>
			<div class="type">
				<p>种类：</p>
				<ul>
					<li><span></span>平底鞋</li>
					<li><span></span>手提包</li>
					<li><span></span>运动户外</li>
					<li><span></span>钱包/小型配件</li>
					<li><span></span>靴子</li>
				</ul>
			</div>
			<div class="product_query">
				<a href="#" class="sort sorter">默认排序</a>
				<a href="#" class="pirce sorter">价格</a>
				<div class="page">
					<h6>共<b>4</b>个商品</h6>
					<span class="_page">1/1</span>
					<span class="pre"></span>
					<span class="next"></span>
				</div>
			</div>
			<div class="contentDiv">



				<div class="product">
					<div class="product_img">
						<a href="{% url 'mei:goods' %}">
							<div class="product_label">买手推荐</div>
                               {% for goodlist in goodlists %}
                                <li>
                                    <a href="{% url 'mei:detail' goodlist.id %}">
                                        <img src="{{ goodlist.src1 }}"  class="img_first"/>
{#                                        <span>{{ goodlist.title }}</span>#}
                                    </a>
                                </li>
                               {% endfor %}

{#							<img src="{% static 'img/product1_1.jpg' %}" title="红色荔枝纹拉链手提肩包" class="img_first"/>#}
{#							<img src="{% static 'img/product1_2.jpg' %}" title="红色荔枝纹拉链手提肩包" />#}
{#							<img src="{% static 'img/product1_3.jpg' %}" title="红色荔枝纹拉链手提肩包" />#}
						</a>
					</div>
					<div class="product_content">
						<p><a href="#">Tory Burch</a></p>
						<p><a href="#">红色荔枝纹拉链手提肩包</a></p>
						<p><span>￥2,440 </span><span>￥4,880</span></p>
					</div>
{#					<div class="product_pic">#}
{#						<ul>#}
{#							<li><img src="{% static 'img/product1_1_s.jpg' %}"></li>#}
{#							<li><img src="{% static 'img/product1_2_s.jpg' %}"></li>#}
{#							<li><img src="{% static 'img/product1_3_s.jpg' %}"></li>#}
{#						</ul>#}
{#					</div>#}
				</div>




			</div>
		</div>
		<div class="footer">
			<div class="footer_center">
				<ul class="footer_ul1">
					<li><a href="#" class="a1">100%品牌授权正品</a></li>
					<li><a href="#" class="a2">满688免运费</a></li>
					<li><a href="#" class="a3">7天无条件退货</a></li>
					<li><a href="#" class="a4">超值折扣</a></li>
					<li><a href="#" class="a5">9点限时闪购</a></li>
					<li style="border: none;"><a href="#" class="a6">400-664-6698</a></li>
				</ul>
				<p class="footer_p1">
					<a href="#">关于魅力惠</a>
					<a href="#">加入我们</a>
					<a href="#">联系我们</a>
					<a href="#">使用帮助</a>
					<a href="#">使用规则</a>
					<a href="#">隐私声明</a>
					<a href="#">网站地图</a>
				</p>
				<p><span>COPYRIGHT©2016 杭州魅俪信息技术有限公司版权所有</span>浙ICP备16004860号-1 </p>
				<p>
					<a href="#"><img src="{% static 'img/guohui.png' %}"></a>
					<a href="#"><img src="{% static 'img/chengxin.png' %}"></a>
				</p>
			</div>
		</div>
    </body>
</html>
