{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>用户登录页面</title>
		<link rel="icon" href="{% static 'img/love.png' %}" type="image/x-icon">
		<link rel="stylesheet" href="{% static 'css/login.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/jquery.idcode.css' %}" />
        <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static 'js/login.js' %}" ></script>


{#		<script type="text/javascript" src="{% static 'js/jquery-1.12.3.js' %}" ></script>#}
{#		<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}" ></script>#}
{#		<script type="text/javascript" src="{% static 'js/register-login.js' %}" ></script>#}
{#		<script type="text/javascript" src="{% static 'js/jquery.idcode.js' %}" ></script>#}

	</head>
    <body>
    <div class="all">
        <div class="middle">
            <div class="register_header">
                <a href="{% url 'mei:index' %}">
                    <img src="{% static 'img/mei.png' %}">
                </a>
            </div>
            <div class="register_content">
                <div class="register_in">
                    <div class="newpeople">
                        <h2>会员登录</h2>
                        <p class="_login">没有账号 ? <a href="{% url 'mei:register' %}">免费注册</a></p>
                    </div>



                    <div class="userinfo">
                        <div class="back"></div>
                        <form id="login" action="{% url 'mei:login' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group has-feedback" id="email">
                                <div class="input-group">
                                    <span class="input-group-addon">邮箱</span>
                                    <input type="text" class="form-control" placeholder="邮箱" name="email">
                                </div>
                                {#                glyphicon-remove  glyphicon-ok#}
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <p style="color: red;" id="err"></p>

                            <div class="form-group has-feedback" id="password">
                                <div class="input-group">
                                    <span class="input-group-addon">密码</span>
                                    <input type="password" class="form-control" placeholder="密码(数字、字母、下划线)"
                                           name="password" maxlength="6">
                                </div>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>

                            {#          如果直接使用input点击，会直接提交给服务器 [假如有错误，也同样提交] #}
                            <div id="subButton" class="btn btn-success">登录</div>
                        </form>



                    </div>
                    <p><span class="checkbox1" id="checkbox"></span>下次自动登录<a href="#" class="forget">忘记密码</a></p>
                    <span>联名登录:</span><a href="#" class="weibo"></a><a href="#" class="zhifubao"></a>

                    <div class="QR_code">
                        <img src="{% static 'img/saomiao.jpg' %}">
                        <p>扫描二维码或发送短信<br>“MLH”到“12114”<br>下载APP尊享独家优惠</p>
                    </div>
                </div>
            </div>
            <div class="footer_center">
                <ul class="footer_ul1">
                    <li><a href="#" class="a1">100%品牌授权正品</a></li>
                    <li><a href="#" class="a2">满688免运费</a></li>
                    <li><a href="#" class="a3">7天无条件退货</a></li>
                    <li><a href="#" class="a4">超值折扣</a></li>
                    <li><a href="#" class="a5">9点限时闪购</a></li>
                    <li style="border: none;"><a href="#" class="a6">400-664-6698</a></li>
                </ul>
                <p><span>COPYRIGHT©2016 杭州魅俪信息技术有限公司版权所有</span>浙ICP备16004860号-1 </p>
            </div>
        </div>
    </div>
    </body>
</html>
