{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册页面</title>
		<link rel="icon" href="{% static 'img/love.png' %}" type="image/x-icon">
		<link rel="stylesheet" href="{% static 'css/register.css' %}" />
		<link rel="stylesheet" href="{% static 'css/jquery.idcode.css' %}" />
{#		<script type="text/javascript" src="{% static 'js/jquery-1.12.3.js' %}" ></script>#}
{#		<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}" ></script>#}
{#		<script type="text/javascript" src="{% static 'js/注册-登录页面.js' %}" ></script>#}
{#		<script type="text/javascript" src="{% static 'js/jquery.idcode.js' %}" ></script>#}
	</head>
	<body>
        	<div class="all">
			<div class="middle">
				<div class="register_header">
					<a href="{% url 'mei:index' %}">
						<img src="{% static 'img/mei.png' %}">
					</a>
				</div>
				<div class="register_content">
					<div class="register_in">
						<div class="newpeople">
							<h2>免费注册</h2>
							<p class="_login">已注册 ? <a href="{% url 'mei:login' %}">登录</a></p>
							<p class="new">新客专享 50元现金券＋2次免运</p>
						</div>
						<div class="userinfo">
							<span>账户名:</span><input type="text" placeholder="手机号/邮箱" id="user">
							<p class="remind" id="entry_user">请输入手机号或邮箱</p>
							<p class="remind" id="entry_user_true">请输入正确的手机号或邮箱</p>
							<span>密码:</span><input type="password" placeholder="请输入6-20个字符" id="password" maxlength="20">
							<p class="remind" id="entry_password">请输入密码</p>
							<p class="remind" id="entry_password_last">密码长度不能少于6位</p>
							<p class="remind" id="entry_password_danger">密码较弱，建议设置多种字符组成的复杂密码</p>
							<div class="password">
								<span class="save">低</span>
								<span class="save">中</span>
								<span class="save">高</span>
							</div>
							<span>确认密码:</span><input type="password" id="_password">
							<p class="remind" id="disagree">密码和确认密码不一致，请重新输入</p>
							<span class="code1">验证码:</span><input type="text" class="code txtVerification" id="Txtidcode">
							<span id="idcode"><div id="ehong-code" class="ehong-idcode-val ehong-idcode-val5" href="#" onblur="return false" onfocus="return false" oncontextmenu="return false" onclick="$.idcode.setCode()"><font color="#707F02">i</font><font color="#780320">9</font><font color="#D6A03C">3</font><font color="#1F72D8">R</font></div></span>
							<p class="remind" id="entry_code">请输入验证码</p>
							<p class="remind" id="entry_code_true">请输入正确验证码</p>
							<span class="code2">短信验证码:</span><input type="text" class="code phone_code">
							<img src="{% static 'img/duanxin.png' %}" class="phone_code">
							<p class="remind" id="again">注册用户名已存在，请重新注册！</p>
							<input type="submit" value="立即注册" class="submit" id="register">
							<p>点击立即注册即表示同意魅力惠<a href="#">使用条款</a></p>
							<p><span class="checkbox1" id="checkbox"></span>您将收到魅力惠每日最新上线邮件</p>
						</div>
						<div class="QR_code">
							<img src="{% static 'img/saomiao.jpg' %}">
							<p>扫描二维码或发送短信<br>“MLH”到“12114”<br>下载APP尊享独家优惠</p>
						</div>
					</div>
				</div>
				<div class="footer_center">
					<ul class="footer_ul1">
						<li><a href="#" class="a1">100%品牌授权正品</a></li>
						<li><a href="#" class="a2">满688免运费</a></li>
						<li><a href="#" class="a3">7天无条件退货</a></li>
						<li><a href="#" class="a4">超值折扣</a></li>
						<li><a href="#" class="a5">9点限时闪购</a></li>
						<li style="border: none;"><a href="#" class="a6">400-664-6698</a></li>
					</ul>
					<p><span>COPYRIGHT©2016 杭州魅俪信息技术有限公司版权所有</span>浙ICP备16004860号-1 </p>
				</div>
			</div>
		</div>
    </body>
</html>
